.cart {
    .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background: #ffffff;
        border-bottom: 1px solid #ebebeb;
        padding: 4px 10px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;

        .cart-header__title {
            flex-grow: 1;
            justify-content: space-between;

            h5 {
                font-weight: 700;
                font-size: 16px;
                line-height: 15px;
                color: var(--color-main);
                padding-top: 5px;
            }

            .cart-header__items-added {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #333333;
            }
        }

        .cart-header__clear-all {
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            text-align: right;
            color: #e61d2b;
        }
    }

    .cart-body {
        margin-top: 50px;
        padding: 15px 15px 60px;
        margin-bottom: 67px;

        .cart-body__msg-edit {
            font-size: 14px;
            line-height: 16px;
            color: #888888;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }

        .cart-body-item {
            .cart-body-item__card {
                display: flex;
                padding: 5px;
                background: #ffffff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                margin-bottom: 15px;

                .cart-body-item__media {
                    display: flex;
                    flex-direction: column;
                    width: 60px;
                    flex: none;

                    .cart-body-item__img {
                        border-radius: 3px;
                        width: 100%;
                        margin: 0 auto;
                    }

                    .cart-body-item__edit {
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        letter-spacing: 0.02em;
                        text-decoration-line: underline;
                        color: #888888;
                        padding: 10px 5px;
                    }
                }

                .cart-body-item__content {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    padding: 5px 0 0 15px;

                    .cart-body-item__title {
                        display: flex;
                        margin-bottom: 10px;

                        .cart-body-item__name {
                            flex-grow: 1;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0.02em;
                            color: #333333;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding-right: 5px;
                        }

                        .cart-body-item__icon-trash {
                            flex: none;
                        }
                    }

                    .cart-body-item__modifier {
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0.02em;
                        color: #585858;

                        .cart-body-item__modifier-item {
                            display: list-item;
                            margin-left: 17px;
                        }

                        .cart-body-item__less-spicy {
                            padding-top: 15px;
                            padding-bottom: 10px;
                            display: flex;
                            justify-content: start;
                            align-items: end;

                            svg {
                                margin-right: 5px;
                            }
                        }
                    }

                    .cart-body-item__action {
                        display: flex;
                        align-items: center;

                        .cart-body-item__option {
                            flex-grow: 1;
                            display: flex;
                            justify-content: left;
                            align-items: center;

                            .cart-body-item__quality {
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 16px;
                                color: #333333;
                            }
                        }

                        .cart-body-item__price {
                            font-size: 16px;
                            line-height: 19px;
                            text-align: right;
                            letter-spacing: 0.02em;
                            color: #333333;
                        }
                    }
                }
            }
        }

        .cart-body__add-more-items {
            background: #ffffff;
            border: 1px solid;
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            color: var(--color-main);
            font-weight: 700;
            padding: 10px;
            margin-bottom: 15px;
        }

        .cart-body-ps {
            position: relative;
            padding-top: 25px;
            padding-bottom: 15px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -15px;
                right: -15px;
                border-top: 1px solid #e5e5e5;
            }

            .cart-body-ps__title {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #888888;
                margin-bottom: 5px;
            }

            .cart-body-ps__item {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                line-height: 19px;
                padding-top: 5px;
                align-items: center;
                color: #333333;

                .cart-body-ps__item-price {
                    font-weight: bold;
                }
            }
        }

        .cart-body-note {
            position: relative;
            padding-top: 5px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -15px;
                right: -15px;
                border-top: 1px solid #e5e5e5;
            }

            .cart-body-note__title {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #888888;
                margin-bottom: 5px;
            }

            // .cart-body-note__additional-request {
            //     display: flex;
            //     justify-content: space-between;
            //     font-size: 14px;
            //     line-height: 19px;
            //     padding-top: 5px;
            //     align-items: center;
            //     color: #333333;
            // }
        }
    }

    .cart-footer {
        background: #ffffff;
        box-shadow: 0px -2px 4px rgb(0 0 0 / 10%);
        padding: 12px 15px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        .cart-footer-total {
            .cart-footer-total__title {
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.02em;
                color: #888888;
                padding-bottom: 8px;
            }

            .cart-footer-total__price {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: var(--color-main);
            }
        }

        .cart-footer__checkout {
            background: #f05223;
            border-radius: 20px;
            width: 170px;
            height: 40px;
            align-items: center;
            display: flex;
            justify-content: center;

            a {
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}
