.product-tc__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    .product-tc__name {
        font-weight: 700;
        font-size: 16px;
        color: #333333;
        text-align: left;
        flex-grow: 1;
    }
}

.product-tc__body {
    .product-tc__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .product-tc__price {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.02em;
            color: var(--color-main);
        }

        .product-tc__package-fee {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: right;
            letter-spacing: 0.02em;
            color: #333333;
        }
    }

    .product-tc__description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #333333;

        a {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: #075bbe;
            text-decoration: unset;
        }
    }
}

.product-tc__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px 5px 8px;
    box-shadow: 0px -2px 4px rgb(0 0 0 / 10%);
    z-index: 1;

    .product-tc__quality {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #333333;
    }

    .product-tc__add-to-cart {
        background: var(--color-main);
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
        border-radius: 20px;
        padding: 10px 20px;
    }
}
