.variant-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;

    .variant-item__select {
        margin-right: -10px;
    }

    .variant-item__radio {
        color: var(--color-main);
    }
}
