.category-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0 -16px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-main-text);

    .category-tab__name {
        display: flex;

        img {
            margin-right: 5px;
        }
    }
}
