.custom-dot {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: 1;

    &.swiper-pagination-bullet-active {
        background-color: var(--color-main);
        border-color: var(--color-main);
    }
}
