.cart-product__msg-edit {
    font-size: 14px;
    line-height: 16px;
    color: #888888;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

// .cart-product-items {
// }

.cart-product__add-more-items {
    background: #ffffff;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--color-main);
    font-weight: 700;
    padding: 10px;
    margin-bottom: 15px;
}
