.dinein-modal {
    font-family: var(--font-family);
    color: var(--color-main-text);

    .dinein-modal-overlay {
        position: fixed;
        inset: 0px;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        z-index: 10;
    }

    .dinein-modal-content {
        position: absolute;
        inset: 50% auto auto 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        overflow: auto;
        outline: none;
        padding: 15px;
        width: auto;

        .dinein-modal-body {
            position: relative;
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 6px;
            padding: 25px 15px;

            .dinein-modal__close {
                position: absolute;
                left: 15px;
                top: 22px;
            }

            .dinein-modal__logo {
                padding: 30px 0;
            }

            .dinein-modal__form {
                display: flex;
                overflow: hidden;
                max-width: 260px;
                margin: auto;
            }

            .dinein-modal__pax-form,
            .dinein-modal__name-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 18px;
                transform: translateX(0px);
                transition-duration: 0.5s;

                &.order-now-step {
                    transform: translateX(-100%);
                }

                .dinein-modal__form-input {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 70px;
                }
            }

            .dinein-modal__btn-next {
                align-items: center;
                display: flex;
                justify-content: center;

                svg {
                    margin-left: 5px;
                }
            }
        }
    }
}

@media screen and (min-width: 386px) {
    .dinein-modal {
        .dinein-modal-content {
            width: 390px;
        }
    }
}
