:root {
    --color-main: #f05223 !important;
    --color-main-light: #fff2ee !important;
    --color-main-dark: #fff2ee !important;
    --color-main-text: #333333 !important;
    --color-sub-text: #333333 !important;
    --color-background-item: #ffffff !important;
}

* {
    margin: 0;
    padding: 0;
}
